{
	margin: 0;
	padding: 0;
}
body>header{
	display: flex;
	justify-content:center;
	background-color: lightgrey;
	text-align: center;
	width:100%;
}
ul{
	list-style: none;
}

body>main>section>.personal_info>ul>li>h3{
	font-size: 17px;
}
.personal_info{
	list-style: none;
}
body>main>section>.personal_info>ul>li{
	padding: 3px 3px;
	list-style: none;
	font-style: italic;
}

body>main>section>.personal_info>ul>li{
	padding: 0px;
	list-style: none;
}

body>main{
	display: flex;
	justfy-content: space-between;

}
body>main>.profile_pic{
	display: flex;
	padding-right: 5px;
	width:33%;
}
body>main>.profile_pic>div>img{
	width: 100%;
	

}
body>main>section>.prefered_job>ul>li{
	font-style: italic;
	list-style: none;
}
body>main>section>.prefered_job>ul>{
	display: flex;
    flex-direction: column;

}
#headings{
	font-size: 22px;
	background-color: #ffffcc;
	margin :0px ;
	font-style: italic;
	list-style: none;

}
#sub_heading{
	font-style: oblique;
	font-weight: bold;
}

.edu_train{
	list-style: none;
}


#desc{
	margin: 0px;
}
@media(max-width: 720px){
body>main{
	display: flex;
	justfy-content: space-between;
	flex-direction:column;


}
body>main>.profile_pic{
	width:100%;

}
ul{
	padding-left:  1px;
}

}