#profile_pic{
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}
#profile_pic>img{
    border-radius: 30%;
}
.bg-primary{
   background-color:#009688!important;
}
#personal_info{
    padding-top: 20px;
}
#personal_skills{
    display: flex;
    justify-content: space-around;
}
.customize_para{
    margin-bottom: 10px;
}
#custom_background_color{
background-color: #009688!important;
}
#custom_padding{
    padding-top: 15px;
}
#custom_padding_other_skills{
    padding-left: 21px;
    padding-top: 5px;
    padding-bottom: 10px;
}
.list-inline{
    font-size: xx-large;
}